@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* ************ Style main body ********* */
*{
  font-family: 'Open Sans', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #dedede;
  overflow:hidden;
}



/* ************ Style MainContent Component ********* */

.mainContent{
  margin-left: 17%;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 65%;
  height: 20%;
  z-index: 2;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
}

/* ************ Style the Scroll area with hidden scrollBar ********* */
.scrollArea{
  width: 100%;
  height: 88vh;
  background-color: white;
  overflow: auto;

}

.scrollArea::-webkit-scrollbar {
  display: none;
}

.studentList{
  width: 100%;
  height: 20%;
}

/* ************ Style the student Component ********* */
.studentContent {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #dedede;
  display: flex;
}


.pic{
  border: 1px solid #dedede;
  border-radius: 50px;
  width: 100px;
  margin-top: 37px;
  margin-right: 20px;

}

.studentInfo{
  padding-bottom: 20px;
}

.studentInfo ul {
  list-style: none;
}

.studentInfo h1{
  text-transform: uppercase;
  font-weight: bolder;
  font-size: xx-large;
}

/* ************ Style the Search area ********* */
.searchArea{
  width: 96%;
  height: auto;
  align-items: center;
  margin-top: 15px;
  margin-left: 13px;
}
.searchByName{
  width: 100%;
  height: 27px;
  border: none;
  border-bottom: 1px solid #dedede;
}
::placeholder {
  color: black;
  font-size: large;
  opacity: 1;
}

input:focus {

  outline: 0;
  border-bottom: 2px solid black;
  font-size: large;
}